.sectionImage{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: calc(50vh - 60px);
    text-align: center;
    position: relative;
}
.sectionImage h1{
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
}
.heroImage{
    position: absolute;
    width: 100%;
    height: 98%;
}

.sectionImage img{
opacity: 0.2;
}
.containerSection{
    background: var(--primaryColor);
}
.containerCard{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
