.ContainerPages{
    display: flex;
    justify-content: center;
    gap: 0.6em;
}

.ContainerPages span{
    display: flex;
    flex-direction: row;
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
    padding-top: 0.6em;
    margin-top: 0.5em;
    background: var(--complementaryColor);
    border-radius: 1em;
    font-weight: 500;
}

.ContainerPages button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.ContainerPages button{
    width: 2em;
    height: 2em;
    margin-top: 0.8em;
    border: 1px solid var(--primaryColor);
    border-radius: 0.2rem;
    background: var(--secondaryColor);
    color: var(--primaryTextColor);
}
